.vehicleGrid {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.loadMoreBtn {
  border: 1px solid var(--color-gray-light);
  border-radius: 100px;
  width: 145px;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  margin: 0 auto;
  transition: border-color 0.3s;
  background: none;
}

.loadMoreBtn:hover {
  border-color: var(--color-button-hover);
}

.endMessage {
  text-align: center;
  color: var(--gray);
  margin-top: 1rem;
}

.noVehicles {
  text-align: center;
  padding: 3rem;
  color: var(--gray);
}
