.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("/images/Hero/Home_ img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.hero_container {
  padding-left: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.hero_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 600;
  color: var(--color-input)
  
}

.hero_title {
  font-size: 48px;
  line-height: 0.67;
}

.hero_description {
  font-size: 24px;
  line-height: 1.3;
}

.hero_link {
  padding: 16px 48.5px;
  background: var(--color-button);
  border-radius: 200px;
  border-width: 0;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.hero_link:hover {
  background: var(--color-button-hover);
  transition: cubic-bezier(0.185, 0.95, 0.51, 1) 0.5s;
}