:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-main: #101828;
  --color-text: #475467;
  --color-gray: #6C717B;
  --color-button: #E44848;
  --color-button-hover: #D84343;
  --color-rating: #FFC531;
  --color-gray-light: #DADDE1;
  --color-badge: #F2F4F7;
  --color-input: #F7F7F7;
  --color-white: #020202ff;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif; 
  display: flex;
  flex-direction: column; 
}

.pageMain {
  flex: 1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


a {
  color: inherit;
  text-decoration: none;
}

