:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-main: #101828;
  --color-text: #475467;
  --color-gray: #6c717b;
  --color-button: #e44848;
  --color-button-hover: #d84343;
  --color-rating: #ffc531;
  --color-gray-light: #dadde1;
  --color-badge: #f2f4f7;
  --color-input: #f7f7f7;
  --color-white: #ffffff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  display: flex;
  flex-direction: column;
}

.pageMain {
  flex: 1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ← ДОБАВИТЬ ТОЛЬКО ЭТО:
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
} */