.main {
  margin-top: 72px;
  padding: 48px 0 52px 0;
  background: var(--color-white);
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
  display: flex;
  gap: 64px;
}

.filtersColumn {
  width: 360px;
  flex-shrink: 0;
}

.listColumn {
  flex: 1;
}