
.vehicleCard {
  border: 1px solid var(--color-gray-light);
  border-radius: 20px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}



.vehicleImageContainer {
  width: 100%;
  max-width: 292px;
  height: 320px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 10px;
}

.vehicleImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}



.vehicleDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.vehicleHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 8px;
  max-height: 32px;
}

.vehicleTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  max-height: 32px;
  overflow: hidden;
  color: var(--color-main);
}

.priceSection {
  display: flex;
  align-items: center;
  gap: 12px;
  max-height: 32px;
}

.vehiclePrice {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  color: var(--color-main);
}

.saveBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.heartIcon {
  width: 25px;
  height: 24px;
  transition: color 0.3s;
  color: var(--color-main);
}

.heartIcon.saved {
  color: var(--color-button);
}



.ratingLocation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 24px;
}

.ratingLink {
  text-decoration: none;
  color: inherit;
}

.ratingContainer {
  display: flex;
  align-items: center;
  gap: 1px;
}

.ratingLink:hover .ratingContainer {
  text-decoration: underline;
}

.starIcon {
  width: 16px;
  height: 16px;
  fill: var(--color-rating);
  margin-right: 4px;
}

.ratingValue,
.reviewsText {
  font-size: 16px;
  line-height: 1.5;
}

.locationContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.locationIcon {
  stroke: #101828;
  color: #101828;
}

.locationText {
  font-size: 16px;
  line-height: 1.5;
}



.vehicleDescription {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
  max-width: 525px;
  max-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 24px;
}


.featuresContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-height: 104px;
  overflow: hidden;
  max-width: 400px;
  padding: 0;
  margin: 0 0 24px 0;
  list-style: none;
}

.featureBadge {
  border-radius: 100px;
  padding: 12px 18px;
  height: 48px;
  background-color: var(--color-badge);
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: capitalize;
}

.featureIcon {
  width: 20px;
  height: 20px;
}

.featureLabel {
  font-size: 16px;
  font-weight: 500;
}



.detailsBtn {
  width: 166px;
  height: 56px;
  border-radius: 100px;
  background-color: var(--color-button);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.detailsBtn:hover {
  background-color: var(--color-button-hover);
}



@media (min-width: 1440px) {
  .vehicleCard {
    flex-direction: row;
    min-width: 888px;
    min-height: 368px;
  }
}



@media (max-width: 375px) {
  .vehicleCard {
    padding: 10px;
  }

  .vehicleImageContainer {
    max-width: 320px;
    height: 320px;
  }


.vehicleTitle {
  font-size: 22px;
}

.vehiclePrice {
  font-size: 22px;
}

}
