.vehicleCard {
  border: 1px solid var(--color-gray-light);
  border-radius: 20px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (min-width: 1024px) {
  .vehicleCard {
    flex-direction: row;
    gap: 24px;
    min-width: 888px;
    min-height: 368px;
  }
}

.vehicleImageContainer {
  width: 100%;
}

@media (min-width: 1024px) {
  .vehicleImageContainer {
    width: 292px;
    flex-shrink: 0;
  }
}

.vehicleImage {
  border-radius: 10px;
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.vehicleDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.vehicleHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  max-height: 32px;
}

.vehicleTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  max-height: 32px;
  overflow: hidden;
  color: var(--color-main);
}

.priceSection {
  display: flex;
  align-items: center;
  gap: 12px;
  max-height: 32px;
}

.vehiclePrice {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  color: var(--color-main);
  max-height: 32px;
}

.saveBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.heartIcon {
  width: 25px;
  height: 24px;
  transition: color 0.3s;
  color: var(--color-main);
}

.heartIcon.saved {
  color: var(--color-button);
}

.ratingLocation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 24px;
}

.ratingLink {
  text-decoration: none;
  color: inherit;
}

.ratingContainer {
  display: flex;
  align-items: center;
  gap: 1px;
}

.ratingLink:hover .ratingContainer {
  text-decoration: underline;
}

.starIcon {
  width: 16px;
  height: 16px;
  fill: var(--color-rating);
  margin-right: 4px;
}

.ratingValue {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.reviewsText {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-main);
}

.locationContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.locationIcon {
  stroke: #101828;
  color: #101828;
}

.locationText {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.vehicleDescription {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-text);
  max-height: 24px;
  max-width: 525px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 24px;
}

.featuresContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
  max-height: 104px;
  overflow: hidden;
  max-width: 400px;
}

.featureBadge {
  border-radius: 100px;
  padding: 12px 18px;
  max-width: 143px;
  height: 48px;
  background-color: var(--color-badge);
  mix-blend-mode: multiply;
  display: flex;
  gap: 8px;
  align-items: center;
  text-transform: capitalize;
}

.featureIcon {
  width: 20px;
  height: 20px;
}

.featureLabel {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.detailsBtn {
  border-radius: 100px;
  width: 166px;
  height: 56px;
  background-color: var(--color-button);
  color: var(--color-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  text-decoration: none;
}

.detailsBtn:hover {
  background-color: var(--color-button-hover);
}
